/* NAV ALBUM */
.nav-album {
  display: flex;
  align-items: center;
  height: 100px;
}

.nav-album-button,
.desktop-button {
  margin: 0 10px 0 10px;
  border-width: 0;
  cursor: pointer;
}

.desktop-button {
  font-size: 20px;
}

/* MOBILE */
.img-mobile {
  width: 100%;
}

/* MOBILE : PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  height: 50px;
  line-height: 50px;
  color: green;
}

.page-number {
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}

.current-page {
  color: rgb(197, 36, 36);
}

@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}
