.pagination {
  display: "flex";
  justify-content: "center";
}

.page-number {
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}

.page-number:hover {
  text-decoration: underline;
  color: green;
}

.current-page {
  color: rgb(197, 36, 36);
}

@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}
/* 
.example {
  .mobile-only {
    @media (min-width: 768px) {
      display: none;
    }
  }
  .desktop-only {
    @media (max-width: 767px) {
      display: none;
    }
  }
} */
